body{
	font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: Montserrat;
}

div, span, input, button{
	box-sizing: border-box;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.dream{
	color: #fff;
	background: rgb(78,190,254);
    background: linear-gradient(90deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    padding-bottom: 80px;   
}

.dream_w{
	font-size: 56px;
}
.img{ 
	margin-top: 72px;
}

.life{
	margin-top: ;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 37px;
}

.wrapper{
	display: flex;
}

.img2{
	margin-top: 0px;
}

.offer{
	margin-top: 146px;
}

.btn{
	background: #ffd429;
	color: black;
    padding: 20px 0px;
    display: block;
    width: 205px;
    text-align: center;
    text-decoration: none;
    transition: 0.5 all ease;
}

.btn:hover{
    background: #e0b716;
}

.section-title{
	padding-top: 110px;
	text-align: center;
}

.future{
    padding-bottom: 120px;
}

.skills{
	display: flex;
    justify-content: space-between;
}