body{
	font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: Montserrat;
}

div, span, input, button{
	box-sizing: border-box;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.dream{
	color: #fff;
	background: rgb(78,190,254);
    background: linear-gradient(90deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    padding-bottom: 80px;   
}

.dream_w{
	font-size: 56px;
}
.img{ 
	margin-top: 72px;
}

.life{
	margin-top: ;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 37px;
}

.wrapper{
	display: flex;
}

.img2{
	margin-top: 0px;
}

.offer{
	margin-top: 146px;
}

.btn{
	background: #ffd429;
	color: black;
    padding: 20px 0px;
    display: block;
    width: 205px;
    text-align: center;
    text-decoration: none;
    transition: 0.5 all ease;
}

.btn:hover{
    background: #e0b716;
}

.section-title{
	padding-top: 110px;
	text-align: center;
}

.future{
    padding-bottom: 120px;
}

.skills{
	margin-top: 60px;
	display: flex;
    justify-content: space-between;
}

.skill{
	width: 310px;
	height: 195px;
}

.skill-title{
    text-align: center;
}

.skill-text{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
    font-weight: 400;
}

.icon{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont-mail{
	background: #ecf3f8;
	padding-bottom: 105px;

}

.order{
	padding-top: 100px;
	padding-bottom: 58px;
	text-align: center;
}

.form{

}

.input{
	margin-bottom: 18px;
	text-align: left;
	width: 342px;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.btn-form{
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 900;
	width: 342px;
	height: 57px;
	padding: 15px 80px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.footer-color{
	background: #164d7a;
}

.footer-text{
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: normal;

}
